@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.conditions h3 { text-align: center;} 

.conditions {margin-left:15%;}

/*----bigbox1----*/
.bigbox1 {
	
	display:flex;
	 display: -webkit-flex;
	 background-image: url('1.png');
	 flex-direction: column;
    
	margin-left: 22%;
    background-repeat: no-repeat;
    background-size: cover;
	padding-top:7%;
	padding-bottom:9%;
	padding-left:8%;
	padding-right:10%;
	margin-bottom:10%;
	height: 900px;
	width: 1000px;
	 
}

/*----bigbox2----*/
.bigbox2 {
	flex-direction:row;
	display: flex;
	 display: -webkit-flex;
	 margin:auto;
	
	 align-items: flex-start;
	text-align:center;	
   font-family: 'Indie Flower', cursive;
   font-size: 100%;
	 
	 
}

/*----smallbox1----*/
.smallbox1 {

	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
   background-position:center;
    background-repeat: no-repeat;  
}
.smallbox1 p {font-size: 75%;
 font-family: 'Indie Flower', cursive;
 font-size:110%;}



/*----smallbox2----*/
.smallbox2 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.smallbox2 p {font-size: 75%;
 font-family: 'Indie Flower', cursive;
 font-size:110%;}
 
.box2 {padding:2%;}



/*----smallbox3----*/
.smallbox3 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.smallbox3 p {font-size: 75%;
 font-family: 'Indie Flower', cursive;
 font-size:110%;}
	
}
.box3 {padding:2%;}

/*----bigbox3----*/
.bigbox3 {
	flex-direction:row;
	display: flex;
	 display: -webkit-flex;
	 margin:auto;	 
	 align-items: flex-start;
	 text-align:center;	
   font-family: 'Indie Flower', cursive;
   font-size: 100%;
}

/*----smallbox4----*/
.smallbox4 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.smallbox4 p {font-size: 110%;
 font-family: 'Indie Flower', cursive;}

 .box4 {padding:2%;}
 
/*----smallbox5----*/
.smallbox5 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.smallbox5 p {font-size: 110%;
 font-family: 'Indie Flower', cursive;}

 .box5 {padding:2%;}



/*----smallbox6----*/
.smallbox6 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
		
}

.smallbox6 p {font-size: 110%;
 font-family: 'Indie Flower', cursive;}

 .box6 {padding:2%;}



/*----bigbox4----*/
.bigbox4 {
flex-direction:row;
	display: flex;
	 display: -webkit-flex;
	 margin:auto;
	 align-items: flex-start;
	 font-family: 'Indie Flower', cursive;
font-size: 100%;
   text-align:center;
   padding-left:5%;
}

/*----smallbox7----*/
.smallbox7 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.smallbox7 p {font-size: 110%;
 font-family: 'Indie Flower', cursive;}


/*----smallbox8----*/
.smallbox8 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.smallbox8 h3 {padding-top: 30%;}

 
/*----smallbox9----*/
.smallbox9 {
	width: 300px;
	height: 265px;
	background-image: url('2.5.png');
	 
   background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smallbox9 h3 {padding-top: 30%;}


/*----modal box----*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
	 -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
   padding:20px;
    border: 1px solid black;
    width: 900px;
}

.modal-content p {
    width: 850px;
    padding-top: 35px;
    line-height: 40px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
	font-size:130%;
}

.modal-body {padding: 2px 16px;
text-align: left;
font-size:130%;
overflow: auto;}



/*---Animation of modal box--- */
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}


/*----close1----*/
.close1{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close2----*/
.close2{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close3----*/
.close3{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close4----*/
.close4{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close4:hover,
.close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close5----*/
.close5{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close5:hover,
.close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close6----*/
.close6{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close6:hover,
.close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----close7----*/
.close7{
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
	font-family:arial;
}

.close7:hover,
.close7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----date---*/
.date {
text-align: left;
margin-left:5%;
}



/*----information in modal box----*/
.info1 p {
	font-size:95%;
	color:blue;
	cursor: pointer;
}




